.dice{width:150px;height:150px;background-color:#fff;border:10px solid #fff;border-radius:20px;margin:20px;float:left}
.cell{width:40px;height:40px;margin:5px;border-radius:50%;background-color:#fff;float:left}
button{width:80px;height:30px;margin-bottom:20px}
