.pallette{width:90px;background:#fff;float:left;margin:0 10px 0 0}
.color{width:50px;height:50px;border:2px solid #000;margin:17px}
.color.active{border:2px solid #ffa500}
.canvas-area{float:right;border-top:5px solid #ffa500;border-left:5px solid #ffa500;background:#fff;width:450px;height:450px}
.cell{background:#fff;border-right:5px solid #ffa500;border-bottom:5px solid #ffa500;width:145px;height:145px;float:left}
.row:last{border:none}
