.pallette{width:90px;background:#fff;float:left;margin:0 10px 0 0}
.color{width:50px;height:50px;border:2px solid #000;margin:17px}
.color.active{border:2px solid #ffa500}
.canvas-area{float:right;border:1px solid #fff;background:#fff;width:600px;height:450px}
.cell{background:#000;width:30px;height:30px;float:left}
.row:last{border:none}
